<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Taskbar Header -->
    <div class="taskbar"> 
      <a href="/">Home</a>
      <a href="users/login">Login</a>
      <a href="users/logout">Logout</a>
      <a href="/about">About Us</a>
      <a href="games/list">Games List</a>
    </div>

    <!-- Main Content -->
    <h1>About <%=shopData.shopName%></h1>
    <p>The final level of gaming stores. Come take a look at the best deals you can find for video games. Welcoming gamers from levels 1-100, no matter your XP, Shaq's Game Store is for you! Come over and level up your gaming with us today!</p>
  </body>
</html>