<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Taskbar Header -->
    <div class="taskbar"> 
      <a href="/">Home</a>
      <a href="users/login">Login</a>
      <a href="users/logout">Logout</a>
      <a href="/about">About Us</a>
      <a href="games/list">Games List</a>
    </div>

    <!-- Main Content -->
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are the games that we sell:</h2>

    <form action="search_result" method="GET">
      <p>What game do you want?</p>
      <input id="search_box" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>

    <ul>
      <% availableGames.forEach(function(game) { %>
        <li><%= game.name %>, £<%=game.price%> </li>
      <% }) %>
    </ul>
  </body>
</html>
